@font-face {
  font-family: halloween1;
  src: url("../../assets/fonts/CFHalloween-Regular.ttf");
}
@font-face {
  font-family: babyHalloween;
  src: url('../../assets/fonts/Baby\ Halloween.ttf');
}
body,html{
  width: 100%;
  height: 100%;
  margin: 0;padding: 0;
}
.containerHome{
  background-color: rgb(23, 23, 23);
  width: 100%;
  height: 100vh;
  
}
#portada_1{
  
  font-family: halloween1;
  color: white;
  text-align: center;
  font-size: 10vw;

}
#calabaza1{
  display: grid;
  place-content: center;
  background-color:  rgb(23, 23, 23);
}
#calabaza1 img{
  width: 50vw;
  

}